/*  THEME VARIABLES */
:root {
    --bg: #f5f7fb;
    --text: #1f2937;
    --card: #ffffff;
    --border: #e5e7eb;
    --primary: #4f46e5;
    --secondary: #6b7280;
    --input: #f1f5f9;
}

body.dark {
    --bg: #0f172a;
    --text: #e5e7eb;
    --card: #1e293b;
    --border: #334155;
    --primary: #6366f1;
    --secondary: #94a3b8;
    --input: #020617;
}

/*  GLOBAL */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg);   
    color: var(--text);      
}

/* HEADER */
h1 {
    padding: 20px;
    margin: 0;
    font-size: 22px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LAYOUT */
.container {
    display: flex;
    min-height: 100vh;   
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: var(--card);
    padding: 20px;
    border-right: 1px solid var(--border);
}

.sidebar button {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    background: var(--input);
    border: none;
    color: var(--text);
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.sidebar button:hover {
    background: var(--border);
}

/* MAIN PANEL */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* CARD */
.card {
    background: var(--card);
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid var(--border);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--input);
    color: var(--text);
    outline: none;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 10px;
    background: var(--primary);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.9;
}

/* TEXT OUTPUT  */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;          
    overflow-x: auto;        
    background: var(--input);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

/* THEME TOGGLE */
.toggle {
    cursor: pointer;
    font-size: 14px;
    padding: 6px 10px;
    background: var(--input);
    border-radius: 6px;
}